= simple_form_for(@office) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :company
    = f.input :email
    = f.input :phone_number
    = f.input :address

  .form-actions
    = f.button :submit
