.container
  .row
    .col-md-4
      %h1 Office info
      %p#notice= notice

      %p
        %b Classroom name:
        = @classroom.name
      %p
        %b Office:
        = @classroom.office

      = link_to 'Edit', edit_classroom_path(@classroom)
      \|
      = link_to 'Back', classrooms_path
    .col-md-4
      %h1 Listing lessons

      %table.table.table-hover.table-condensed.table-responsive
        %thead
          %tr
            %th Start time
            %th End time
            %th Period
            %th Teacher
            %th Classroom
            %th
            %th
            %th

        %tbody
          - @lessons.each do |lesson|
            %tr
              %td= lesson.start_time
              %td= lesson.end_time
              %td= lesson.period_id
              %td= lesson.teacher
              %td= lesson.classroom
              %td= link_to 'Show', lesson, class: 'btn btn-mini btn-success'
              %td= link_to 'Edit', edit_lesson_path(lesson), class: 'btn btn-mini btn-warning'
              %td= link_to 'Destroy', lesson, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'


