= simple_form_for(@period) do |f|
  = f.error_notification

  .form-inputs
    = f.input :PeroidDescription
    = f.input :group_id, input_html: {value: @period.group_id || params[:group_id]}, as: :hidden
    = f.association :tprice

  .form-actions
    = f.button :submit
