= simple_form_for(@period) do |f|
  = f.error_notification

  .form-inputs
    = f.input :PeroidDescription
    = f.input :group_id, input_html: {value: params[:group_id]}, as: :hidden

  .form-actions
    = f.button :submit
