%p#notice= notice

%p
  %b Peroiddescription:
  = @period.PeroidDescription
%p
  %b Group:
  = @period.group_id

= link_to 'Edit', edit_period_path(@period)
\|
= link_to 'Back', periods_path



%h1 Listing lessons

%table{:class => "table"}
  %thead
    %tr
      %th Start time
      %th End time
      %th Period
      %th
      %th
      %th

  %tbody
    - @lessons.each do |lesson|
      %tr
        %td= lesson.start_time
        %td= lesson.end_time
        %td= lesson.period_id
        %td= link_to 'Show', lesson
        %td= link_to 'Edit', edit_lesson_path(lesson)
        %td= link_to 'Destroy', lesson, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lesson', new_lesson_path(period_id: @period.id)
