.container
  .row
    .col-md-4
      %h3 Group info
      %p
        %b Group name:
        = @period.group.group_name
      %p
        %b Teacher:
        = @period.group.teacher
      %p
        %b Language:
        = @period.group.language
      %p
        %b Office:
        = @period.group.office
      %p
        %b Book:
        = @period.group.book_id
      %p
        %b Days:
        = @period.group.days
      %p
        %b Time:
        = @period.group.time
      %p
        %b Duration:
        = @period.group.duration
      %p
        %b Info:
        = @period.group.info

      %h3 Period info
      %p#notice= notice

      %p
        %b Peroiddescription:
        = @period.PeroidDescription
        = @period.group.group_name
      %p
        %b Group:
        = @period.group_id

      = link_to 'Edit', edit_period_path(@period), class: 'btn btn-mini btn-warning'
      \|
      = link_to 'Back', periods_path, class: 'btn btn-mini btn-warning'

    .col-md-8
      %h3 Listing lessons
      %table.table.table-hover.table-condensed.table-responsive
        %thead
          %tr
            %th Start time
            %th End time
            %th Period
            %th Teacher
            %th Classroom
            %th
            %th
            %th

        %tbody
          - @lessons.each do |lesson|
            %tr
              %td= lesson.start_time
              %td= lesson.end_time
              %td= lesson.period_id
              %td= lesson.teacher
              %td= lesson.classroom
              %td= link_to 'Show', lesson, class: 'btn btn-mini btn-success'
              %td= link_to 'Edit', edit_lesson_path(lesson), class: 'btn btn-mini btn-warning'
              %td= link_to 'Destroy', lesson, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'

      %br

      = link_to 'New Lesson', new_lesson_path(period_id: @period.id), class: 'btn btn-mini btn-success'
