.container
  %h1 Listing subjects
  %table.table.table-hover.table-condensed.table-responsive
    %thead
      %tr
        %th Subject
        %th
        %th
        %th

    %tbody
      - @languages.each do |language|
        %tr
          %td= language.lang
          %td= link_to 'Show', language, class: 'btn btn-mini btn-success'
          %td= link_to 'Edit', edit_language_path(language), class: 'btn btn-mini btn-warning'
          %td= link_to 'Destroy', language, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'
  = link_to 'New Language', new_language_path, class: 'btn btn-mini btn-success'
