= simple_form_for(@group) do |f|
  = f.error_notification

  .form-inputs
    = f.input :group_name
    = f.association :teacher
    = f.association :language
    = f.input :office_id
    = f.input :book_id
    = f.input :days
    = f.input :time
    = f.input :duration
    = f.input :info

  .form-actions
    = f.button :submit
