.container
  .row
    .col-md-4
      %h3 Group info
      %p#notice= notice

      %p
        %b Group name:
        = @group.group_name
      %p
        %b Teacher:
        = @group.teacher
      %p
        %b Language:
        = @group.language
      %p
        %b Office:
        = @group.office
      %p
        %b Book:
        = @group.book_id
      %p
        %b Days:
        = @group.days
      %p
        %b Time:
        = @group.time
      %p
        %b Duration:
        = @group.duration
      %p
        %b Info:
        = @group.info

      = link_to 'Edit', edit_group_path(@group), class: 'btn btn-mini btn-warning'
      \|
      = link_to 'Back', groups_path, class: 'btn btn-mini btn-warning'
    .col-md-8
      %h3 Listing periods
      %table.table.table-hover.table-condensed.table-responsive
        %thead
          %tr
            %th Peroiddescription
            %th Group
            %th Tprice
            %th
            %th
            %th
        %tbody
          - @periods.each do |period|
            %tr
              %td= period.PeroidDescription
              %td= period.group_id
              %td= period.tprice
              %td= link_to 'Show', period, class: 'btn btn-mini btn-success'
              %td= link_to 'Edit', edit_period_path(period), class: 'btn btn-mini btn-warning'
              %td= link_to 'Destroy', period, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'

      %br

      = link_to 'New Period', new_period_path(group_id: @group.id), class: 'btn btn-mini btn-success'
