%p#notice= notice

%p
  %b Group name:
  = @group.group_name
%p
  %b Teacher:
  = @group.teacher_id
%p
  %b Office:
  = @group.office_id
%p
  %b Book:
  = @group.book_id
%p
  %b Days:
  = @group.days
%p
  %b Time:
  = @group.time
%p
  %b Duration:
  = @group.duration
%p
  %b Info:
  = @group.info

= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path

%h1 Listing periods

%table{:class => "table"}
  %thead
    %tr
      %th Peroiddescription
      %th Group
      %th
      %th
      %th

  %tbody
    - @periods.each do |period|
      %tr
        %td= period.PeroidDescription
        %td= period.group_id
        %td= link_to 'Show', period
        %td= link_to 'Edit', edit_period_path(period)
        %td= link_to 'Destroy', period, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Period', new_period_path(group_id: @group.id)
