= simple_form_for(@client) do |f|
  %table{:class => "table"}
    %tbody
      %tr
        %td= f.input :first_name
        %td= f.input :middle_name
        %td= f.input :last_name
        %td= f.date_select :birthdate, :start_year => Time.now.year - 80, :end_year => Time.now.year - 4
        %td= f.input :telephone_1
        %td= f.input :email
        %td= f.input :info
        %td= f.input :photo
        %td= f.association :office
        %td= f.association :language
        %td= f.association :cstatus

  .form-actions
    = f.button :submit


  -#:info, options_for_select([['Mr', 0], ['Mrs', 1]])
