= simple_form_for(@client) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :middle_name
    = f.input :last_name
    = f.date_select :birthdate, :start_year => Time.now.year - 80, :end_year => Time.now.year - 4
    = f.input :telephone_1
    = f.input :email
    = f.input :info
    = f.input :photo
    = f.association :office
    = f.association :language
    = f.association :cstatus

  .form-actions
    = f.button :submit


-#:info, options_for_select([['Mr', 0], ['Mrs', 1]])
