.container
  %h1 Search
  = search_form_for @q do |f|
    = f.label :last_name_cont
    = f.search_field :last_name_cont
    = f.submit
  .media
    .media-body
      %table.table.table-hover.table-condensed.table-responsive
        %thead
          %tr
            %th= sort_link @q, :first_name, "Full name"
            %th= sort_link @q, :birthdate, "Birthdate"
            %th Telephone 1
            %th Email
            %th Info
            %th Photo
            %th= sort_link @q, :office_id, "Office"
            %th= sort_link @q, :language_id, "Language"
            %th= sort_link @q, :updated_at, "Last Updated"
            %th= sort_link @q, :cstatus_id, "Status"
            %th
            %th
            %th

        %tbody
          - @clients.each do |client|
            %tr
              %td= client.first_name+" "+client.middle_name+" "+client.last_name
              %td= client.birthdate
              %td= client.telephone_1
              %td= client.email
              %td= client.info
              %td= image_tag client.photo, size: '30x30'
              %td= client.office
              %td= client.language
              %td= client.updated_at
              %td= client.cstatus
              %td= link_to 'Show', client, class: 'btn btn-mini btn-success'
              %td= link_to 'Edit', edit_client_path(client), class: 'btn btn-mini btn-warning'
              %td= link_to 'Destroy', client, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'

  %br