.container
  .row
    .col-md-4
      %h1 Client info
      %p#notice= notice
      %p
        = image_tag @client.photo, size: '190x190', class: 'img-circle'
      %p
        = link_to 'Edit', edit_client_path(@client), class: 'btn btn-mini btn-warning'
        \|
        = link_to 'Back', clients_path, class: 'btn btn-mini btn-warning'
      %p
        %b Status:
        = @client.cstatus
      %p
        %b First name:
        = best_in_place @client, :first_name, :as => :input
      %p
        %b Middle name:
        = @client.middle_name
      %p
        %b Last name:
        = @client.last_name
      %p
        %b Birthdate:
        = @client.birthdate
      %p
        %b Telephone 1:
        = @client.telephone_1
      %p
        %b Email:
        = @client.email
      %p
        %b Info:
        = @client.info
      %p
        %b Office:
        = @client.office
      %p
        %b Language:
        = @client.language
      = link_to 'Previous client', client_path(@client.id - 1)
      \|
      = link_to 'Next client', client_path(@client.id + 1)
    .col-md-8
      %h1 Payments and balance
      %h1 Attendances
      %table.table.table-hover.table-condensed.table-responsive
        %thead
          %tr
            %th Attendance
            %th Cprice
            %th Group
            %th Period
            %th Lesson
            %th
            %th

        %tbody
          - @attendances.each do |attendance|
            %tr
              %td= attendance.attendance
              %td
              %td= attendance.lesson.period.group.group_name
              %td= attendance.lesson.period.PeroidDescription
              %td= attendance.lesson.start_time
              %td= link_to 'Edit', edit_attendance_path(attendance, lesson_id: attendance.lesson_id), class: 'btn btn-mini btn-warning'
              %td= link_to 'Destroy', attendance, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'