= simple_form_for(@lesson) do |f|
  = f.error_notification

  .form-inputs
    = f.input :start_time
    = f.input :end_time
    = f.input :period_id, input_html: {value: params[:period_id]}, as: :hidden
    = f.association :teacher

  .form-actions
    = f.button :submit
