.container
  %h3 Listing lessons

  %table.table.table-hover.table-condensed.table-responsive
    %thead
      %tr
        %th Teacher
        %th Start time
        %th Group
        %th Period
        %th Classroom
        %th Tarif
        %th
        %th
        %th

    %tbody
      - @lessons.each do |lesson|
        %tr
          %td= lesson.teacher
          %td= lesson.start_time
          %td= lesson.period.group.group_name
          %td= lesson.period_id
          %td= lesson.classroom
          %td= lesson.period.tprice.tprice
          %td= link_to 'Show', lesson, class: 'btn btn-mini btn-success'
          %td= link_to 'Edit', edit_lesson_path(lesson), class: 'btn btn-mini btn-warning'
          %td= link_to 'Destroy', lesson, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'