%p#notice= notice

%p
  %b Start time:
  = @lesson.start_time
%p
  %b End time:
  = @lesson.end_time
%p
  %b Period:
  = @lesson.period_id
%p
  %b Teacher:
  = @lesson.teacher
%p
  %b Classroom:
  = @lesson.classroom

= link_to 'Edit', edit_lesson_path(@lesson)
\|
= link_to 'Back', lessons_path



%table{:class => "table"}
  %tbody
    = simple_form_for(@attendance) do |f|
      %tr
        %td= f.input :attendance
        %td= f.select :client_id, Client.all.map{|c| [c, c.id]}, {},class: 'selectize'
        %td= f.input :lesson_id, input_html: {value: params[:lesson_id]}

      .form-actions
        = f.button :submit




%h1 Listing attendances

%table{:class => "table"}
  %thead
    %tr
      %th Attendance
      %th Client
      %th
      %th
      %th

  %tbody
    - @attendances.each do |attendance|
      %tr
        %td= attendance.attendance
        %td= attendance.client.first_name+" "+attendance.client.last_name
        %td= link_to 'Show', attendance
        %td= link_to 'Edit', edit_attendance_path(attendance)
        %td= link_to 'Destroy', attendance, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Attendance', new_attendance_path(lesson_id: @lesson.id)