.container
  .row
    .col-md-4
      %h3 Group info
      %p
        %b Group name:
        = @lesson.period.group.group_name
      %p
        %b Teacher:
        = @lesson.period.group.teacher
      %p
        %b Language:
        = @lesson.period.group.language
      %p
        %b Office:
        = @lesson.period.group.office
      %p
        %b Book:
        = @lesson.period.group.book_id
      %p
        %b Days:
        = @lesson.period.group.days
      %p
        %b Time:
        = @lesson.period.group.time
      %p
        %b Duration:
        = @lesson.period.group.duration
      %p
        %b Info:
        = @lesson.period.group.info

      %h3 Period info
      %p#notice= notice

      %p
        %b Peroiddescription:
        = @lesson.period.PeroidDescription
        = @lesson.period.group.group_name
      %p
        %b Group:
        = @lesson.period.group_id

      %h3 Lesson info
      %p#notice= notice

      %p
        %b Usual start time:
        = @lesson.start_time
      %p
        %b Usual End time:
        = @lesson.end_time
      %p
        %b Period:
        = @lesson.period_id
      %p
        %b Teacher:
        = @lesson.teacher
      %p
        %b Classroom:
        = @lesson.classroom

      = link_to 'Edit', edit_lesson_path(@lesson)
      \|
      = link_to 'Back', lessons_path
    .col-md-8
      %h3 New attendance
      = simple_form_for(@attendance) do |f|
        %table{:class => "table"}
          %thead
            %tr
              %td Attendance
              %td Client
          %tbody
            %tr
              %td= f.input :attendance
              %td= f.select :client_id, Client.all.map{|c| [c, c.id]}, {},class: 'selectize'
              %td= f.input :lesson_id, input_html: {value: @lesson.id}, as: :hidden
              %td heergregrefr
        .form-actions
          = f.button :submit

      %h3 Listing attendances

      %table.table.table-hover.table-condensed.table-responsive
        %thead
          %tr
            %th Attendance
            %th Client
            %th
            %th
            %th

        %tbody
          - @attendances.each do |attendance|
            %tr
              %td= attendance.attendance
              %td= attendance.client.first_name+" "+attendance.client.last_name
              %td= link_to 'Show', attendance, class: 'btn btn-mini btn-success'
              %td= link_to 'Edit', edit_attendance_path(attendance, lesson_id: @lesson.id), class: 'btn btn-mini btn-warning'
              %td= link_to 'Destroy', attendance, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'

      %br

      = link_to 'New Attendance', new_attendance_path(lesson_id: @lesson.id), class: 'btn btn-mini btn-success'