= simple_form_for(@teacher) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :middle_name
    = f.input :last_name
    = f.input :birthdate
    = f.input :telephone_1
    = f.input :email
    = f.input :info
    = f.input :photo

  .form-actions
    = f.button :submit
