.container
  .row
    .col-md-4
      %h1 Teacher info
      %p#notice= notice
      %p
        %b Photo:
        = image_tag @teacher.photo, size: '90x90'
      = link_to 'Edit', edit_teacher_path(@teacher), class: 'btn btn-mini btn-warning'
      \|
      = link_to 'Back', teachers_path, class: 'btn btn-mini btn-warning'
      %p
        %b First name:
        = @teacher.first_name
      %p
        %b Middle name:
        = @teacher.middle_name
      %p
        %b Last name:
        = @teacher.last_name
      %p
        %b Birthdate:
        = @teacher.birthdate
      %p
        %b Telephone 1:
        = @teacher.telephone_1
      %p
        %b Email:
        = @teacher.email
      %p
        %b Info:
        = @teacher.info
    .col-md-8
      %h1 Listing lessons

      %table.table.table-hover.table-condensed.table-responsive
        %thead
          %tr
            %th Start time
            %th Group
            %th Period

            %th Classroom
            %th Tarif
            %th
            %th
            %th

        %tbody
          - @lessons.each do |lesson|
            %tr
              %td= lesson.start_time
              %td= lesson.period.group.group_name
              %td= lesson.period_id

              %td= lesson.classroom
              %td= lesson.period.tprice.tprice
              %td= link_to 'Show', lesson, class: 'btn btn-mini btn-success'
              %td= link_to 'Edit', edit_lesson_path(lesson), class: 'btn btn-mini btn-warning'
              %td= link_to 'Destroy', lesson, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'


