.container
  %h3 Listing tprices

  %table.table.table-hover.table-condensed.table-responsive
    %thead
      %tr
        %th Name
        %th Tprice
        %th Active
        %th Created at
        %th
        %th
        %th

    %tbody
      - @tprices.each do |tprice|
        %tr
          %td= tprice.name
          %td= tprice.tprice
          %td= tprice.active
          %td= tprice.created_at
          %td= link_to 'Show', tprice, class: 'btn btn-mini btn-success'
          %td= link_to 'Edit', edit_tprice_path(tprice), class: 'btn btn-mini btn-warning'
          %td= link_to 'Destroy', tprice, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger'

  %br

  = link_to 'New Tprice', new_tprice_path
