= simple_form_for(@attendance) do |f|
  = f.error_notification

  .form-inputs
    = f.input :attendance
    = f.association :client
    = f.association :lesson

  .form-actions
    = f.button :submit
