= simple_form_for(@attendance) do |f|
  = f.error_notification

  .form-inputs
    = f.input :attendance
    = f.association :client
    = f.input :lesson_id, input_html: {value: params[:lesson_id]}, as: :hidden

  .form-actions
    = f.button :submit
